[Unit]
Description=Steam Big Picture Auto-launcher
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/dev/dotfiles/scripts/steam_autopicture.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target