[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000

[user]
	name = blak0p
	email = martinpujaltea@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	hooksPath = /home/alejandro/.config/git/hooks

[diff]
	external = difft
	colorMoved = default

[merge]
	conflictstyle = diff3

[url "git@github.com:"]
	insteadOf = https://github.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
