[Unit]
Description=Controlador Pantalla DeepCool AK620 Digital
After=network.target

[Service]
ExecStart=/var/home/alejandro/deepcool-ak620-digital-linux/venv/bin/python3 /var/home/alejandro/deepcool-ak620-digital-linux/deepcool-ak-series-digital.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
